.home{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    gap: 1%;
    
    
    .sidebar{
       
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 230px;
        height: 100%;
        
        

        .sidebar-top{
            flex:1;
            border: 1px solid rgb(189, 188, 188);
            border-radius: 10px;
            height: 100%;
            background-color: white;
           
            

        
       
        

            hr{
                color: rgb(247, 241, 241);
            }



            .profile-img{
                margin-left:40%;
                cursor: pointer;
                margin-top: -30px;

            }
            .name{
                font-size: 8px;
                text-align: center;
                cursor: pointer;
            }
            .name:hover{
                text-decoration: underline;
            }
            .name p{
                font-size: 12px;
                color: rgb(138, 135, 135);
                text-align: center;
                cursor:auto;
            }
            .views{
                display: flex;
                justify-content:space-around;
                font-weight: 450;
                cursor: pointer;
                font-size: 14px;
            }
            .views:hover{
                background-color: lightgray;
            }
            .impressions-post{
                display: flex;
                justify-content:space-around;
                font-weight: 450;
                cursor: pointer;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 14px;
                overflow-y: auto; 
            }
            .post:hover{
                background-color: lightgray
            }
            .premium{
                font-size: 12px;
                margin-left: 20px;
                cursor: pointer;
                
               
            }
            .premium:hover{
               text-decoration: underline;
            }
            .items{
                margin: 15px;
                font-size: 14px;
                font-weight: 500;

            }
            .items:hover{
                text-decoration: underline;
            }
        }
        .sidebar-bottom{
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 10px;

            hr{
                color:rgb(238, 233, 233);
            }
            .recent{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: 10px;
                margin-right: 10px;
            }
            .groups{
                margin-left: 10px;
                margin-right: 10px;
                overflow-x: hidden;
                h1{
                    font-size: 14px;
                }
                
            }
            .events{
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                margin-right: 10px;
                h1{
                    font-size: 14px;
                }

            }
            .hashtags{
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                margin-right: 10px;
                h1{
                    font-size: 14px;
                }

            }
            .load{
                text-align: center;
                color: rgb(105, 103, 103);
                font-weight: 400;
                text-decoration: none;
            }
        }
        
    }
    .middle{
        flex:2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 12px;
        

        
        .post{
            background-color: white;
            border: 1px solid rgb(209, 205, 205);
            border-radius: 10px;
            
            .search-post{
                margin-top: 10px;
                display: flex;
                
                margin-left: 30px;
                gap :15px;

                input{
                    width: 400px;
                    border-radius: 50px;
                    border: 1px solid lightgray;
                }
                input::placeholder {
                    padding: 10px;
                }
             
            }
            .post-icons {
                display: flex;
                justify-content: space-around;
                
                
                margin-top: 20px;
                margin-bottom: 10px;

                li{
                    list-style: none;
                }
                
            }
        }
        
        
    }
    .right-bar{
        width: 300px; 
        height: 100%;
        border: 1px solid lightgrey;
        border-radius: 10px;
        background-color: white;
        
    }
}